body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.button1 {
	background-color: black;
	color: #cccccc;
}

#listingdetail {
	
}

#navbarNav {

	
	color: #cccccc;
	row-height: 10px;
}


#button1 {
		
	padding: 20px;
	background-color: #639393;
	color: white;
	font-family: fantasy;
	width: 150px;
	height: 75px;
	border-radius: 50%;
	
}
	
