body {
	
	background-color: #cccccc;
}


#navbarbutton {
	
}


#button1 {
		
	padding: 20px;
	background-color: #639393;
	color: white;
	font-family: fantasy;
	width: 150px;
	height: 75px;
	border-radius: 50%;
	
}
	
